<!DOCTYPE html>
html(lang="en")
  head
    title= title
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel='stylesheet')
    link(href="bower_components/sweetalert/dist/sweetalert.css", rel='stylesheet')
    link(href="css/contacts/style.css", rel='stylesheet')

  body
    .container
      .row
        .col-xs-6
          h1= title
        .col-xs-6
          button.btn#add(  data-toggle="modal" data-target="#formModal" ) Add
      .row
        table.table.table-hover
          thead
            tr
              each val, prop in contacts[0]
                th= prop
              th.edit.text-center edit
              th.delete.text-center delete
          tbody#contactList
            each contact in contacts
              tr
                each val, index in contact
                  td(class= index)= val
                td.text-center.edit(href="#!" data-toggle="modal" data-target="#formModal")
                  i.fa.fa-pencil-square-o.fa-lg
                td.delete.text-center
                  i.fa.fa-trash-o.fa-lg
        #formModal.modal.fade
          .modal-dialog
            .modal-content
              .modal-body
                | name: 
                br
                input#name(type='text')
                br
                |             email:
                br
                input#email(type='email')
                br
                |             phone: 
                br
                input#phone(type='text')
                br
                |             address: 
                br
                textarea#address.form-control(rows='3')
                br
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button#saveContact.btn.btn-primary(type='button', data-dismiss='modal') Save Contact

  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src="bower_components/sweetalert/dist/sweetalert.min.js")
  script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
  script(src='js/contacts/main.js')





